<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Jamila McGowan</h1>
 <p> &nbsp &nbsp&nbsp&nbsp&nbsp A 20-year-old multifaceted young woman. She is pursuing a BSc. Actuarial Science at the University of West Indies, Mona. In and out of the typical school environment, she finds more interest in learning computing skills like coding or Web Development over Mathematics. <i>The irony!</i> However, her other interest includes but are not limited to cooking, eating, crocheting and watching movies. After completing INFO3180, my goal is that I would have grasped the course, be more adept in web development, and have fun while doing so.   </p>
</body>
</html>